@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }  

html,body{
    overflow-x: hidden;
}

body {
    background-color: hsl(120, 100%, 87%);
    padding: 0;
    margin: 0;
    width: 100%;
}

.soon {
    background-color: hsl(120, 47%, 58%);
    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: calc(50vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18pt;
    border-radius: 12px;
    line-height: 24pt;
	-webkit-animation: puff-in-center 0.5s ease-out both;
	animation: puff-in-center 0.5s ease-out both;
    -webkit-box-shadow: 0px 0px 50px -10px #000000; 
    box-shadow: 0px 0px 50px -10px #000000;
}

.logo {
    width: 420px;
}

@media only screen and (max-width: 1080px) {
    .soon {
        background-color: hsl(120, 47%, 58%);
        height: 400px;
        width: 100vw;
        margin: auto;
        margin-top: calc(50vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 16pt;
        border-radius: 0px;
        line-height: 24pt;
    }

    .logo {
        width: 300px;
    }
  }
